/* Style sheet for Getting Started parallax page */

body{
	background:url(http://chiseloutdoors.com/beta/img/recommendations/table.jpg) fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}


h2 {
	font-family:"Arvo";
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	color: #fff;
}

p {   
	font-family: 'Goudy Bookletter 1911', serif;
	font-weight: normal;
	font-size: 25px;
	text-align: left;
	margin: 50px auto;
}

li {
	display: inline-block;
	font-size: 20px;
}

.slide a {
	color: #fff;
	font-style: none;
}


.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }
a.lpanel { float: left; color: #e1e1e1; font-size: 12px; font-family:"Wellfleet"; text-decoration: none; margin: 7px 11px; }
a.rpanel { float: right; color: #e1e1e1;  font-size: 12px; font-family:"Wellfleet"; text-decoration: none; margin: 7px 11px; }

a.lpanel:hover{ color: #fff; }
a.rpanel:hover{ color: #fff; }
/*= HEADER & NAVIGATION
--------------------------------------------------------*/

/* Page Nav Bar */
.navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #333;
	margin: 0 auto;
	z-index: 1;
	font-family: Raleway, 600;
	opacity: 0.85;
}
#navbar-menu {
	margin-left: 10vw;
}
/* End Page Nav Bar */



/*= QUOTES AND SOME ELEMENTS
--------------------------------------------------------*/
.text_container { 
	margin: 0px;
	padding: 0px; 
	background-color: rgba(51, 51, 51, 0.35);
	border-radius: 15px;
	padding: 10px;
}

/*= SLIDES STYLING
--------------------------------------------------------*/
.slide{
	color: #fff;
	height: 800px;
	margin: 0 auto;
	overflow: hidden;
}
.jumbotron {
	background: url(get_started_banner.jpg);
	background-size: cover;
	height: 800px;
	color: #fff;
	border-bottom: 5px solid #fff;
	padding-top: 100px;
	text-align: center;
}
#get_started h1 {
	font-size: 150px;
	text-align: center;
}

#get_started p {
	text-align: right;
	
}

#safety {
	margin-top: 150px;	
	text-align: center;
}

#packs {
	text-align: center;
}
#pack_text {
	margin-top: 75px;
}
#pack_text li {
	padding-left: 25px;
	padding-right: 25px;
}
#pack_pic1 img{
	height: 100%;
	width: 100%;
	padding-top: 200px;
	padding-left: 50px;
}
#pack_pic2 img{
	height: 125%;
	width: 125%;
	padding-top: 150px;
	padding-right: 100px;
}

#tools_text {
	margin-top: 125px;
}
#tools_text li {
	padding-left: 25px;
	padding-right: 25px;
}
#tools_pic img{
	height: 65%;
	width: 65%;
	padding-top: 50px;
}

#provisions {

}
#provisions_pic img{
	height: 100%;
	width: 100%;
	padding-top: 150px;
}
#provisions_text{
	margin-top: 125px;
	margin-left: 50px;
	margin-right: 50px;
}

#med_kit_text {
	margin-top: 50px;
	text-align: justify;
}
#med_kit_text li {
	display: block;
}
#med_kit_pic img{
	padding-top: 150px;
	height: 100%;
	width: 100%;
}

#comms_text {
	margin-top: 50px;
}
#comms_text li {
	padding-left: 25px;
	padding-right: 25px;
}
#comms_pic1 img{
	height: 75%;
	width: 75%;
	padding-top: 25px;
}
#comms_pic2 img{
	height: 115%;
	width: 115%;
	padding-top: 200px;
}
#low_impact {
	background: url(explore.jpg);
	background-size: cover;
	color: #333;
	padding-top: 100px;
	text-align: justify;
}
#low_impact h1 {
	color: #333;
}

/* Footer */
#footer {
	background-color: #333;
	height: 100px;
	color: white;
  	text-align: center;
}
#footer h3 {
	font-family: Raleway, 400;
	color: rgba(128,128,128,1);
	text-align: right;
	font-size: 0.5em;
	padding: 0.25em;
	margin: 0 auto;
}
.footer li {
  display: inline-block;
  padding: 20px 15px;
}
.footer a {
  color: white;
  font-style: none;
}
.footer h6 {
	font-size: 10px;
}
