/* Page Nav Bar */
#nav {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #333;
	margin: 0 auto;
	z-index: 1;
	font-family: Raleway, 600;
	opacity: 0.85;
}
#nav p {
	padding-left: 1em;
}
#nav a {
	color: rgba(200,200,200,1);
	text-decoration: none;
}
#nav ul a {
	color: rgba(200,200,200,1);
	text-decoration: none;
}
/* End Page Nav Bar */

#jumbotron {
	height: 600px;
	width: cover;
	background-image: url(community.jpg);
	background-size: cover;
	color: white;
}
#jumbotron h1 {
	text-align: center;
	margin-top: 150px;
	font-size: 150px;
}

/* Instagram Feed */
#insta_feed{
  color: #333333;
  height: 200px;
  width: cover;
  text-align: center;
  margin-top: -30px;
}
#insta_feed img {
  height: 50px;
}

.section-header{
	text-align: center;
	margin-bottom: 20px;
	color: #ff6600;
	font-size: 5vw;
}

#members{
	height: 500px;
}
.ms-info{
	text-align: center;
}

.ms-slide iframe{
  width: 760px;
  height: 400px;
}

.social-bin{
	margin-left: -40px;
}
.social-bin li{
	list-style-image: none;
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}
.social-bin img{
	height: 50px;
	width: 50px;
}


#spotify {
  margin-top: 60px;
}
#spotify h3 {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
}


#facebook {
	margin: 50px 0px 50px 0px;
	height: 330px;
	width: cover;
}

#youtube {
  height: 600px;
  width: cover;
}

/* Footer */
#footer {
	background-color: #333;
	height: 100px;
	color: white;
  	text-align: center;
}
#footer h3 {
	font-family: Raleway, 400;
	color: rgba(128,128,128,1);
	text-align: right;
	font-size: 0.5em;
	padding: 0.25em;
	margin: 0 auto;
}
.footer li {
  display: inline-block;
  padding: 20px 15px;
}
.footer a {
  color: white;
  font-style: none;
}
/* End Footer */